/* Mise en page du formulaire*/

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
    border: 2px solid black;
}

input {
    width: 100%;
    margin: 5px 0px;
    box-sizing: border-box;
}

.rounded-border {
    border-radius: 10px;
}

div>input {
    background-color: #ffffe0;
}

#login-submit{
    background-color: darkgreen;
    color: white;
    font-size: large;
}

#login-submit:hover{
    font-size: larger;
    background-color: green;
}

#logoff-reminder {
    text-align: center;
}

/* Sélecteurs multiples pour l'élément <input> */
input[value = "Connexion"]{

}

div form input {

}

div ~ input{

}

p:not(div>input) {
}


li:hover::marker{
    content: "★ ";
    color: green;
    font-size: 20px;}

/* Pour tester */
.a_remplacer {
    background-color: blue;
}




/* Exercice supplémentaire */