/* Mise en page du formulaire*/

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
    border: 2px solid black;
}
.rounded-border {
    border-radius: 10px;
}

input, select {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

form div input {
    background-color: #ffffe0;
}

#login-submit {
    background-color: darkgreen;
    font-size: larger;
    color: white;
}

#login-submit:hover{
    background-color: green;
    font-size: x-large;
}

#logoff-reminder{
    text-align: center;
}

li:after {
    font-family: monospace;
    font-weight: bold;
}

li:nth-child(1)::after {
    content: 'input[type=\'submit\']';
}

li:nth-child(2)::after {
    content: 'form>input';
}

li:nth-child(3)::after {
    content: 'div+input ou div~input';
}

li:nth-child(4)::after {
    content: 'input:not(div>input) ou input:not(:last-child)';
}

li:hover::marker{
    content: "★ ";
    color: darkgreen;
    font-size: 20 px;
}